<a href="https://colab.research.google.com/github/benpkxd/Data-Analysis-Bootcamp/blob/main/Python_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import time
import pandas as pd

In [ ]:
# check url

url = "https://free-nba.p.rapidapi.com/players/%7Bid%7D"

headers = {
	"X-RapidAPI-Key": "044cab135fmsha0ae9f4928a53d1p1ff0ecjsndeb08d6379ed",
	"X-RapidAPI-Host": "free-nba.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)

In [ ]:
# loop for data and create data frame

first_names = []
last_names = []
heights = []
positions = []
team_full_names = []
team_cities = []
team_divisions = []

for i in range(1,101):
  url = f"https://free-nba.p.rapidapi.com/players/{i}"
  response = requests.request("GET", url, headers=headers)
  result = response.json()
  first_names.append(result["first_name"])
  last_names.append(result["last_name"])
  heights.append(result["height_feet"])
  positions.append(result["position"])
  team_full_names.append(result["team"]["full_name"])
  team_cities.append(result["team"]["city"])
  team_divisions.append(result["team"]["division"])
  time.sleep(1)

nba_players = pd.DataFrame({
    "first_name": first_names,
    "last_name": last_names,
    "height": heights,
    "position": positions,
    "team_full_name": team_full_names,
    "team_city": team_cities,
    "team_divisions": team_divisions
})

nba_players

,first_name,last_name,height,position,team_full_name,team_city,team_divisions
0,Alex,Abrines,6.0,G,Oklahoma City Thunder,Oklahoma City,Northwest
1,Jaylen,Adams,6.0,G,Chicago Bulls,Chicago,Central
2,Steven,Adams,7.0,C,Memphis Grizzlies,Memphis,Southwest
3,Bam,Adebayo,6.0,C-F,Miami Heat,Miami,Southeast
4,DeVaughn,Akoon-Purcell,NaN,G-F,Atlanta Hawks,Atlanta,Southeast
...,...,...,...,...,...,...,...
95,Joe,Chealey,6.0,G,Charlotte Hornets,Charlotte,Southeast
96,Marquese,Chriss,6.0,F,Oklahoma City Thunder,Oklahoma City,Northwest
97,Gary,Clark,6.0,F,New Orleans Pelicans,New Orleans,Southwest
98,Ian,Clark,6.0,G,New Orleans Pelicans,New Orleans,Southwest
99,Jordan,Clarkson,6.0,G,Utah Jazz,Utah,Northwest